NODE_ENV=
PORT=
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
CORS_ORIGINS=http://localhost:5173
THROTTLE_TTL_MS=60000
THROTTLE_LIMIT=60
WOMPI_API_BASE_URL=https://api-sandbox.co.uat.wompi.dev/v1
WOMPI_PUBLIC_KEY=
WOMPI_PRIVATE_KEY=
WOMPI_INTEGRITY_KEY=
WOMPI_TIMEOUT_MS=10000
WOMPI_POLL_INTERVAL_MS=1000
WOMPI_POLL_ATTEMPTS=10
